body {
    background-color:white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Roboto',sans-serif;
    overflow-x: hidden;
}


.container{
    margin-right:0px!important;
    margin:0px;
    padding-right:0px;
}
.container-fluid{
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Navbar CSS Start*/
.navbar-nav.middle {
  float: none;
  text-align: center;
}
.middle li {
  float: none;
  display: inline-block;
}
.container-fluid.navy{
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: white;
}
.img-circle{
    max-height: 390px;
}

.col-md-4.codebutton{
    min-height:390px;
}
p.header{
    margin-top:auto;
}
.row1{
    padding-top:25px;
}
.row{
    padding-bottom:25px;
    background-color:white;

}
form{
    padding-left:13px;
    text-align:center;
}

.thumbnail{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/98/Galaxy-2048x1152.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: white;
    text-align:center;
    border:inset 15px white;
}
.thumbnail p{
    -webkit-text-fill-color:white;
}
.thumbnail img{
    width:auto;
    height:390px;
    border: dashed 12px rgba(255, 255, 255, 0.26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.spacewindow{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/98/Galaxy-2048x1152.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: auto;
    height: 390px;
    background-repeat:no-repeat;
}
h2{
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/98/Galaxy-2048x1152.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: white;
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 26px;
}
h2.contact{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-weight:bolder;
}
.contactlinks{
    text-align: center;
    font-size: -webkit-xxx-large;
}
.contactlinks,.col-md-4 a{
    color:black;
}
p.title{

    text-align:center;
    font-weight:600;

}

p{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/9/98/Galaxy-2048x1152.jpg);
    background-attachment:fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    color:white;
    font-size:25px;
    text-align:center;  
}

.rightrow{
    text-align:right;
}
.leftrow{
    text-align:left;
}
.codebutton{
    font-size:60px;
    text-align:center;
}
a{
    color:black;
}
p.tilte{

}
h2.rowdivider{
    border: 10px dashed white;
    margin-top: 0px;
    -webkit-text-fill-color: transparent;
}
.whiterow{
    background-color:white;
}
label.col-md-2.control-label{
    text-align:left;
    padding:0px;
}
h2.galaxydivider{
        margin-top: 0px;
        border: dashed white 35px;
    -webkit-text-fill-color: transparent;
}
.aboutme{
    text-align:center;
}
@media (max-width: 768px) {
  .container {
    width: auto;

  }
  .rightrow{
      float:none!important;
  }
  p{
      text-align:center;
      margin-top:auto;
  }
}
@media (max-width: 992px) {
  .container {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .container {
    width: auto;
  }
}

#portpic2:hover,#portpic:hover,#portpic3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height:auto;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    right: 35px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    top: -5%;
    right: 8%;
    position:relative;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}













